html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(245,245,245);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 170%;
}

h1{
    font-size: 300%;
    font-weight: 100;
    padding: 2%;
    margin: 0;
}

h2{
    font-size: 200%;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

h3{
    font-size: 150%;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

button{
    font-family: 'Roboto', sans-serif;
    color: rgb(150,150,150);
    background-color: rgb(220,220,220);
    border: 0;
    border-bottom: 2px solid rgb(150,150,150);
    height: 30%;
    font-size: 300%;
    border-radius: 4px;
    outline: none;
}

button:active{
    border-bottom: 1px solid rgb(150,150,150);
}

.question-layer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    -webkit-justify-content: space-around;
}

.control-layer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    -webkit-justify-content: space-around;
}

.presentation-layer{
    position: relative;
}

/**
Here starts css for the presentation
**/
.presentation{
    position: absolute;
    width: 100%;
}

.slide{
    position: relative;
}

.slide .text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 800px;
    height: 100%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.slide .text.dark{
    color: rgb(40,40,40);
}

.slide .text.light{
    color: rgb(240,240,240);
}

.slide .filter-clear{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

.slide .filter-transparent{
     position: absolute;
     z-index: 2;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.6);
 }

.slide .filter{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1);
}

.background-image{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

